@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .address-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  /* ------------------ Hero ------------------- */
  .hero {
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
    background-position: cover;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-desktop.jpg");
  }
  /* ------------------ Qualities ------------------- */
  .qualities-icon-box {
    background-color: var(--light-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
  }
  .qualities-list {
    flex-direction: row;
    column-gap: 24px;
  }
  .qualities-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  /* ------------------ Team ------------------- */
  .team {
    padding: 96px 108px 104px 108px;
  }

  .team-list {
    display: flex;

    column-gap: 24px;
  }
  .team-item {
    flex-basis: calc((100% - 2 * 24px) / 4);
  }
}
