:root {
  /* Colors */
  --primary-brand-color: #4d5ae5;
  --active-state-color: #404bbf;
  --primary-heading-color: #2e2f42;
  --general-text-color: #434455;
  --helper-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-bg-color: #f4f4fd;
  --overlay-color: #2e2f42;
  --hero-bg-color: #2e2f42;
  --succes-state-color: #31d0aa;
  --white-color: #ffffff;

  /* Font size */
  --title-font-size: 56px;
  --secondary-header-font: 36px;
  --tertiary-header-font: 20px;
  --logo-font-size: 18px;
  --general-text-font: 16px;
  --small-text-font: 12px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .address-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /* ------------------ Header ------------------- */
  .address-list {
    flex-direction: row;
  }
  .header-link {
    display: block;
  }
  .address-item:not(:last-child) {
    margin-right: 40px;
  }
  .address-link {
    display: glock;
    font-size: var(--general-text-font);
    font-weight: 400;
    color: var(--general-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }

  /* .header-address-list {
    flex-direction: unset;
  } */
  /* ------------------ Hero ------------------- */
  .hero {
    max-width: 1440px;
    /* height: 600px; */
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-desktop.jpg");
  }

  /* ------------------ Qualities ------------------- */
  .section.no-padding {
    padding-bottom: 0;
  }

  .qualities {
    padding-top: 120px;
  }
  .qualities-icon-box {
    background-color: var(--light-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
  }
  .qualities-list {
    flex-direction: row;
    column-gap: 24px;
  }
  .qualities-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .qualities-subtitle {
    font-size: var(--tertiary-header-font);
  }

  /* ------------------ Team ------------------- */
  /* .team {
    padding: 96px 108px 104px 108px;
  } */

  .team-list {
    column-gap: 24px;
  }
  .team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  /* ------------------ domain ------------------- */
  .domain {
    display: block;
  }

  /* ------------------ customers------------------- */

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-container {
    display: flex;
  }

  .customers-list {
    flex-wrap: nowrap;
  }

  .customers-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }

  /* ------------------ Footer------------------- */
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .subscribe {
    width: 453px;
    margin-top: 0;
    margin-left: 80px;
  }
  .sub-wrapper {
    flex-wrap: nowrap;
  }
  .footer-info {
    margin-right: 120px;
  }

  /* ------------------ Project page------------------- */
  /* ------------------ Projects------------------- */

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .projects-items {
    width: 360px;
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-desktop-2x.jpg);
  }
}
