@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .container-md {
    max-width: 582px;
  }

  .link {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-heading-color);
  }

  /* ------------------ Header ------------------- */

  .header {
    border-bottom: 1px solid var(--accent-color);
  }

  .main-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    color: var(--primary-heading-color);
    line-height: 1.33;
  }
  #mob-menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #mob-contacts {
    display: block;
    margin-right: auto;
    width: 100%;
  }
  .header-nav {
    display: flex;
    margin-right: auto;
  }
  .header-list {
    display: flex;
  }

  .header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-logo {
    margin-right: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .mob-menu-open {
    display: none;
  }
  .mob-menu-close {
    display: none;
  }

  .menu {
    width: 100%;
  }

  .header-address-list {
    display: flex;
  }

  .header-link.active {
    position: relative;
    /* color: var(--main-font-color); */
    color: var(--active-state-color);
  }
  .header-link.active::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    visibility: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: currentColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  #menu-social-list {
    display: none;
  }

  /* ------------------ Hero ------------------- */

  .hero-title {
    max-width: 500px;
    margin: 0 auto 48px;
    font-size: var(--title-font-size);
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 40px;
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-desktop.jpg");
  }
  /* ------------------ Qualities ------------------- */
  .qualities-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .qualities-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  /* ------------------ Team------------------- */
  .team {
    padding: 96px 0;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    text-align: center;
  }

  .team-item {
    flex-basis: calc((100% - 24px) / 2);
    flex-grow: 0;
  }
  /* ------------------ customers------------------- */
  .customers-list {
    /* column-gap: 24px; */
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .customers-item {
    width: 168px;
    flex-basis: 100% /3;
  }
  /* ------------------ footer------------------- */
  /* .tablet-container-wrapper {
    width: 552px;
    margin-right: auto;
    margin-left: auto;
  } */
  .footer-container {
    justify-content: flex-start;
  }

  .footer-info {
    margin-right: 24px;
    justify-content: flex-start;
  }
  .footer-social {
    align-items: flex-start;
    margin-top: 0;
  }
  .subscribe {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .subscribe-btn {
    margin-left: 24px;
  }

  .subscribe-input {
    width: 264px;
  }

  .sub-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* ------------------ Project page------------------- */
  /* ------------------ Projects------------------- */

  .projects-nav {
    justify-content: center;
    margin-bottom: 72px;
    flex-wrap: nowrap;
  }
  .projects-nav-item:not(:last-child) {
    margin-right: 24px;
  }
  .projects-list {
    flex-direction: row;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .projects-items {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/bg-desktop-2x.jpg);
  }
}

@media screen and (max-width: 1199px) {
  /* ------------------ Address ------------------- */
  .header-address-list {
    display: flex;
    flex-direction: column;
  }
  /* ------------------ Team------------------- */
  /* 
  .team-container {
    max-width: 552px;
  } */
}
